/******************
Global Styles
******************/

/******************
Wrapper Styles
******************/

#contentWrapperOuter {
}

#contentWrapper {
}

/******************
globalToolbar Styles
******************/

#globalToolbar {
	background:url('http://displet.com/images/livelakeaustin/globaltoolbarback.png') 0 0 repeat-x;
	font-weight: normal;
	color: #333;
	font-family: 'Open Sans', sans-serif;
}

#globalToolbar a {
	color: #333;
	text-decoration: none;
}

#globalToolbar a:hover {
	color: #c24040;
	text-decoration: none;
}

/* Apply border if needed to right side of li */
#userToolbarLinks li {
}

/* PR = right border width of li */
#userToolbarLinks li a{
	display: inline-block;
}

#quickSearch input {
	border: 1px solid #bec2ac;
	background: url('http://displet.com/images/livelakeaustin/inputback.png') 0px 0px no-repeat;
	color:#4b4c44;
}

input::-webkit-input-placeholder {
    color: #4b4c44;
}

input:-moz-placeholder {
    color: #4b4c44;
}

textarea::-webkit-input-placeholder {
    color: #4b4c44;
}

textarea:-moz-placeholder {
    color: #4b4c44;
}

#userToolbarLinks li, #quickSearch span#textOr, #quickSearch span#textQuick{
	text-transform: uppercase;
}

#quickSearch span#textQuick{
	color: #c24040;
}

#loggedIn {
	color: #c24040;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

#loggedIn a {
	color: #c24040;
	font-weight: bold;
	text-decoration: none;
}

#loggedIn a:hover {
	text-decoration: underline;
}

/******************
searchFormContainer Styles
******************/

#searchFormContainer {
	border:1px solid #bec2ac;
	background:#fff;
}

#searchFormContainer select, #searchFormContainer input{
	background:#fff;
	color:#4b4c44;
	border:1px solid #8ba6bf;
}

#searchFormContainer input{
	background: url('http://displet.com/images/livelakeaustin/inputback.png') 0px 0px no-repeat;
	border: 1px solid #b9c0c1;
}

#standardFields #stdColumn2 {
	border-left:1px solid #dde5e8;
	border-right:1px solid #dde5e8;
}

#advancedExtra {
	border-top: 1px solid #dadada;
}

#searchFormContainer .ctrlHolder{
	font-weight: bold;
	font-size: 11px;
	color: #4b4c44;
}

#searchFormContainer .ctrlHolder .triggerLabel{
	font-weight: normal;
}

/******************
Search Form Links Styles
******************/

/* Include height and line-height */
#searchFormLinks {
	height: 23px;
	line-height: 23px;
	background-color: #bec2ac;
}

#searchFormLinks a {
	color: #4b4c44;
	text-decoration: none;
	text-shadow: 1px 1px 1px #fff;
}

#searchFormLinks a:hover {
	text-decoration: underline;
}

/* Include height and line-height */
#searchFormLinks #saveSearchLink, #searchFormLinks #searchformResetter {
	height: 23px;
	line-height: 23px;
	text-indent: -9999px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

#searchFormLinks #saveSearchLink:hover, #searchFormLinks #searchformResetter:hover{
	box-shadow: 0px 0px 3px #666;
}

#saveSearchLink {
	background-image: url('http://displet.com/images/livelakeaustin/saveback.png');
}

#searchformResetter {
	background-image: url('http://displet.com/images/livelakeaustin/resetback.png');
}

/******************
Map and Listings Styles
******************/

#leftColumn{
	color: #4b4c44;
	background-color: #fff;
}

#resultsNav {
	border:1px solid #bec2ac;
	color: #4b4c44;
	font-weight: bold;
}

#prePage a, #nextPage a {
	width: 13px;
	background-position: 0px center;
	background-repeat: no-repeat;
}

#prePage a {
	background-image: url('http://displet.com/images/livelakeaustin/leftarrow.png');
}

#nextPage a {
	background-image: url('http://displet.com/images/livelakeaustin/rightarrow.png');
}

#resultsList {
	border: 1px solid #bec2ac;
}

div.resultRow {
	background: url('http://displet.com/images/livelakeaustin/resultsback.png') 0 0 no-repeat;
	height: 76px;
	width: 422px;
	font-weight: bold;
}

#leftColumn #resultsDiv a {
	color: #4b4c44;
	text-decoration: none;
	text-shadow: 1px 1px 2px #fff;
}

#leftColumn #resultsDiv a:hover {
	color: #fff;
	text-decoration: none;
	text-shadow: 0px -1px 2px #8c2826;
}

div.propertyPreviewPic img {
	border: 1px solid #afb0a9;
}

#rightColumn {
	border:1px solid #bec2ac;
}

/* Already 2px from above image */
.balloonWrapper .viewDetailsLink{
	text-indent: -9999px;
	width: 103px;
	height: 28px;
	background: url('http://displet.com/images/livelakeaustin/balloondetails.png') 0 0 no-repeat;
}

/******************
Detail Page Styles
******************/

/* Include font-size and text-indent */
#actions1 #requestShowing, #actions1 #addToFavorites {
	width:183px;
	height:35px;
	line-height:35px;
	text-indent: -9999px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;
	position: relative;
}

#actions1 #requestShowing a, #actions1 #addToFavorites a{	
	position: relative;
	z-index: 3;
}

#actions1 #addToFavorites br{
	display: none;
}

/* Include margin-right */
#actions1 #requestShowing{
	background:url('http://displet.com/images/livelakeaustin/requestshowing.png') 0 0 no-repeat;
	margin-right:30px;
}

#actions1 #requestShowing .hovertrans, #actions1 #addToFavorites .hovertrans{
	width:183px;
	height:35px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;
	box-shadow: 0px 2px 2px #999;
	z-index:2;
}

#actions1 #addToFavorites {
	background: url('http://displet.com/images/livelakeaustin/addtofavorites.png') 0 0 no-repeat;
}

#actions1 #requestShowing:hover, #actions1 #addToFavorites:hover{
}

#callUs, #sendToFriend {
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #4b4c44;
}

#sendToFriend a{
	color: #4b4c44;
	text-decoration:none;
}

#sendToFriend a:hover{
	text-decoration: underline;
}

#detailsHeader {
	color: #4b4c44;
	text-shadow: 1px 1px 2px #fff;
}

#detailsHeader .address {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	text-transform: uppercase;
	border-bottom: 1px double #bec2ac;
}

#detailsHeader .price {
	font-family: 'Lobster', serif;
	font-weight: normal;
	color: #c24040;
}

#propertyAge .red {
	color: #c24040;
	font-weight: bold;
}

.tanBack {
	border: 1px solid #bec2ac;
	background-color: #fff;
}

.tanBack .tanbacktit {
	color: #333;
	text-transform:uppercase;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.tanBack p.remarks {
	background-color: #bec2ac;
	color: #fff;
}

#detailTabs li a {
	text-decoration: none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #bec2ac;
	color: #fff;
	background-color: #bec2ac;
}

#detailTabs li a:hover{
	text-decoration: underline;
}

#detailTabs li a.active {
	background-color: #c24040;
	border-color: #c24040;
	color: #fff;
}

#detailPhotos, #detailMapOuter, #userCommentsContainer {
	border: 1px solid #bec2ac;
	background-color: #fff;
}

img#largeImage {
	border: 1px solid #a6a6a6;
}

#horizontal_carousel .container img {
	border: 1px solid #cfcfcf;
	background-color: #fff;
	padding: 2px;
}

/******************
Search List Results Styles
******************/

#residentials_results #contentWrapper, #residentials_results #contentWrapperOuter{
	overflow: visible;
}

#resultsToolbar {
	margin-top: 15px;
	height: 21px;
	padding-top: 11px;
	background: url('http://displet.com/images/livelakeaustin/subtoolbarback.png') 0px 0px no-repeat;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 9px;
	color: #4b4c44;
	margin-bottom: 13px;
}

#resultsToolbar a{
	color: #c24040;
	text-decoration: none;
}

#resultsToolbar a:hover{
	text-decoration: underline;
}

#resultsToolbar #totalRecords {
	color: #c24040;
}

.resultListContainer {
	box-shadow: 1px 1px 1px #cbcdc0;
	background-color: #fff;
	height: 282px;
	margin-bottom: 16px;
	color: #4b4c44;
	font-family: Arial, sans-serif;
	clear: both;
	overflow: hidden;
}

.resultListContainer a{
	text-decoration: none;
}

.resultListContainer .coll{
	float: left;
	width: 282px;
	padding-left: 21px;
}

.resultListContainer .coll .img{
	margin-top: 21px;
	border: 1px solid #cfcfcf;
	padding: 2px;
	background-color: #fff;
}

.resultListContainer .coll .img div{
	overflow: hidden;
	width: 276px;
	height: 196px;
}

.resultListContainer .coll .img img{
	width: 276px;
}

.resultListContainer .coll .price{
	margin-top: 12px;
	text-align: center;
	font-size: 22px;
	line-height: 22px;
	color: #c24040;
	font-family: 'Lobster', serif;
}

.resultListContainer .colr{
	float: right;
	width: 627px;
}

.resultListContainer .colr .address{
	font-size: 18px;
	line-height: 18px;
	height: 18px;
	text-transform: uppercase;
	font-style: italic;
	margin-top: 32px;
	margin-bottom: 22px;
	color: #4b4c44;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.resultListContainer .colr .cont{
	height: 106px;
	background-color: #eef1e2;
	border: 1px solid #cfcfcf;
	width: 607px;
}

.resultListContainer .colr .cont .col{
	margin-top: 3px;
	height: 100px;
	width: 148px;
	border-bottom: 1px solid #d6d8cb;
	border-right: 1px solid #d6d8cb;
	margin-left: 2px;
	float: left;
	background-color: #fff;
	text-align: center;
}

.resultListContainer .colr .cont .col:first-child{
	margin-left: 3px;
}

.resultListContainer .colr .cont .col .top{
	font-size: 22px;
	line-height: 22px;
	color: #4b4c44;
	margin-top: 24px;
}

.resultListContainer .colr .cont .col .bottom{
	font-size: 18px;
	line-height: 18px;
	color: #c24040;
	font-weight: bold;
	margin-top: 12px;
}

.resultListContainer .colr .links{
	margin-top: 25px;
	line-height: 47px;
	width: 607px;
}

.resultListContainer .colr .links .link{
	font-size: 11px;
	line-height: 16px;
	font-weight: bold;
	padding-left: 26px;
	margin-top: 17px;
	float: left;
	display: inline-block;
	text-transform: uppercase;
}

.resultListContainer .colr .links a{
	color: #c24040;
	text-decoration: none;
	display: block;
}

.resultListContainer .colr .links a:hover{
	text-decoration: underline;
}

.resultListContainer .colr .links .requestshowing{
	background: url('http://displet.com/images/livelakeaustin/requestshowingicon.png') 0px 0px no-repeat;
	margin-left: 25px;
}

.resultListContainer .colr .links .addtofavorites{
	background: url('http://displet.com/images/livelakeaustin/addtofavoritesicon.png') 0px 0px no-repeat;
}

.resultListContainer .colr .links .viewdetails{
	float: right;
	line-height: 50px;
	height: 50px;
	width: 150px;
	background: url('http://displet.com/images/livelakeaustin/viewdetails.png') 0px 0px no-repeat;
	text-indent: -9999px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;
	position: relative;
}

.resultListContainer .colr .links .viewdetails a{
	position: relative;
	z-index:3;
}

.resultListContainer .colr .links .viewdetails .hovertrans{
	height: 50px;
	width: 150px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;
	box-shadow: 0px 2px 3px #999;
	z-index:2;
}
